<div class="jumbotron">
    <h1>Braincore Excercise Documentation</h1>
    <p class="lead">Please Use  <b>/api/user/setpath?[Fully Qualified Path]</b>     to set /etc/passwd path   </p>
    <p class="lead">Please Use  <b>/api/groups/setpath?[Fully Qualified Path] </b>  to set /etc/groups path   </p>
    <p class="lead">Use the API tab for more documentation</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Result Format</h2>
        <p>All results are in xml format with tags for each attribute</p>
        
    </div>
    <div class="col-md-4">
        <h2>Testing</h2>
        <p>All files written by me should have a unit test stub , please uncomment and follow other instructions in the comments to run .</p>
        <p>Have never used any unit testing framework before.</p>
        <p>You will also need to convert each file to console application to get console to work</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Has only been tested on IIS server present in visual studio , currenly have no access to other web hosting platforms</p>
        
    </div>
</div>
